.card {
  display: flex;
  align-items: center;
  height: 72px;
  margin-bottom: 12px;
  background-color: var(--gray-500);
  padding: 1rem;
  gap: 12px;
  vertical-align: top;
}

.card input {
  background-color: transparent;
}

.description {
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 400;
}
