.todoForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  margin-top: -29px;
}

.todoForm textarea {
  border-radius: 8px;
  color: var(--gray-300);
  background-color: var(--gray-500);
  border: none;
  resize: none;
  width: 40rem;
  height: 3.375rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22.4px;
  font-family: 'Inter';
  padding: 1rem 0 1rem 1rem;
}

.todoForm button {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  line-height: 19.6px;
  color: var(--gray-100);
  background-color: var(--blue-600);
  width: 90px;
  height: 52px;
  border-radius: 8px;
  border: none;
}
