:root {
  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1A1A1A;
  --gray-700: #0D0D0D;

  --purple-500: #8284FA;
  --purple-700: #5660ce;

  --blue-400: #4EA8DE;
  --blue-600: #1E6F9F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-600);
  color: var(--gray-100);
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 736px;
}


/* inter 400, 700 */